// colors
$clr-primary-400: hsl(177, 68%, 64%);
$clr-secondary-400: hsl(12, 94%, 65%);
$clr-tertiary-400: hsl(33, 100%, 70%);

$clr-neutral-100: hsl(20, 33%, 98%);
$clr-neutral-800: hsl(244, 23%, 12%);

// font families
$ff: 'IBM Plex Sans', sans-serif;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font sizes
$fs-8: 1rem;
$fs-10: 1.125rem;
$fs-12: 1.25rem;
$fs-13: 2rem;
$fs-14: 2.5rem;
$fs-16: 4rem;
$fs-18: 5.5rem;

// line heights
$lh-8: 16px;
$lh-10: 20px;
$lh-12: 26px;
$lh-14: 28px;
$lh-16: 32px;
$lh-18: 34px;
$lh-20: 48px;
$lh-22: 52px;
$lh-24: 64px;
$lh-26: 88px;

// letter Spacing
$ls-4: -1px;
$ls-6: -0.75px;
$ls-8: -0.45px;

// sizes
$space-8: 0.5rem;
$space-16: 1rem;
$space-32: 2rem;
$space-64: 4rem;
$space-80: 5rem;
$space-128: 8rem;

$radius: $space-16;

// placeholders

// mixins
@mixin width-with-padding($width) {
	width: min(100% - $spacing-32, $width);
	margin-inline: auto;
}

@mixin width-full($width) {
	width: min($width, 100%);
	margin-inline: auto;
}

@mixin radius-top {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin radius-bottom {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radius-full {
	border-radius: $radius;
}

// basic reset
*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	font-family: $ff;
}

img {
	max-width: 100%;
}

// Header
.heading {
	@include width-full(375px);
}

// hero
.hero-texts {
	@include width-full(375px);
}

// hero images
.hero-imgs {
	background-color: $clr-neutral-800;
	position: relative;
	@include width-full(375px);

	.app-img {
		position: relative;
		top: -20%;

		> img {
			width: 85%;
		}
	}

	.blue-art {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

// footer
.foot-container {
	@include width-full(375px);
}

// Pricing card
.card {
	background-color: $clr-secondary-400;
	padding: $space-32;
	color: $clr-neutral-100;
	@include radius-full;

	.card-title {
		font-size: $fs-13;
		font-weight: $fw-bold;
		margin-bottom: $space-8;
	}
}
