// colors
$clr-primary-400: hsl(177, 68%, 64%);
$clr-secondary-400: hsl(12, 94%, 65%);
$clr-tertiary-400: hsl(33, 100%, 70%);

$clr-neutral-100: hsl(20, 33%, 98%);
$clr-neutral-800: hsl(244, 23%, 12%);

// font families
$ff: 'IBM Plex Sans', sans-serif;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font sizes
$fs-8: 1rem; // 16px
$fs-10: 1.125rem; // 18px
$fs-12: 1.25rem; // 20px
$fs-13: 2rem; // 32px
$fs-14: 2.5rem; // 40px
$fs-16: 4rem; // 64px
$fs-18: 5.5rem; // 88px

// line heights
$lh-8: 16px;
$lh-10: 20px;
$lh-12: 26px;
$lh-14: 28px;
$lh-16: 32px;
$lh-18: 34px;
$lh-20: 48px;
$lh-22: 52px;
$lh-24: 64px;
$lh-26: 88px;

// letter Spacing
$ls-4: -1px;
$ls-6: -0.75px;
$ls-8: -0.45px;

// sizes
// maybe...

// utilities
$radius: 1rem;

// placeholders

// mixins
@mixin width-with-padding($width, $padding: 2rem) {
	width: min(100% - $padding, $width);
	margin-inline: auto;
}

@mixin width-full($width) {
	width: min($width, 100%);
	margin-inline: auto;
}

@mixin radius-top {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin radius-bottom {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radius-full {
	border-radius: $radius;
}

// basic reset
*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	font-family: $ff;
	height: 100%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

// hard set the width for mobile layout.
// will be removed when the layout is responsive.
body {
	@include width-full(375px);

	background: url(../assets/bg-main-mobile.png) no-repeat;
	background-position: top -160px right 100%;
	background-size: cover;
}

.header {
	padding-inline: 1.5rem;
	margin-top: 2.5rem;
}

.hero {
	margin-top: 4rem;
	margin-bottom: 10rem;

	.container {
		padding-inline: 1.5rem;
		display: grid;
		gap: 1.25rem;
	}

	&__title {
		font-size: $fs-14;
		font-weight: $fw-bold;
		line-height: $lh-20;
		letter-spacing: $ls-8;
	}

	&__body {
		font-size: $fs-8;
		line-height: $lh-12;
	}
}

// main section
.main {
	background-color: $clr-neutral-800;
	@include radius-full;

	&__illustration {
		background: url(../assets/bg-pattern-2.svg) no-repeat top center;
		background-size: 74%;
		padding-inline: 3rem;
		margin-inline: auto;
		max-height: 380px;

		> img {
			max-width: 13rem;
			margin-inline: auto;
			transform: translateY(-100px);
		}
	}
}

// pricing card component
.pricing-card {
	background-color: $clr-secondary-400;
	padding-inline: 2.25rem;
	padding-block: 3rem;
	color: $clr-neutral-100;
	@include radius-full;

	&__title {
		font-size: $fs-13;
		font-weight: $fw-bold;
	}

	&__body {
		line-height: $lh-14;
		margin-top: 0.75rem;

		p {
			letter-spacing: 0.056rem;
		}
	}

	.pricing {
		margin-top: 2.25rem;

		&__range {
			font-size: $fs-16;
			font-weight: $fw-bold;

			display: flex;

			span {
				font-size: $fs-12;
				font-weight: $fw-regular;
				margin-left: 1rem;
			}
		}

		&__buttons {
			margin-top: 4rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
}

// button components
.btn {
	width: 100%;
	border: none;
	background-color: $clr-neutral-800;
	color: $clr-neutral-100;
	padding-block: 1rem;
	line-height: $lh-16;
	font-size: $fs-10;
	font-weight: $fw-bold;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.2s ease-in-out;
	@include radius-full;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: $clr-primary-400;
	}

	&--alternate {
		background-color: $clr-neutral-100;
		color: $clr-neutral-800;

		&:hover {
			background-color: $clr-tertiary-400;
			color: $clr-neutral-800;
		}
	}

	&--ios::before,
	&--android::before {
		margin-right: 0rem;
		display: inline-block;
		width: 1.75rem;
		height: 1.75rem;
	}

	&--ios {
		&::before {
			content: url(../assets/icon-apple.svg);
		}
	}

	&--android {
		&::before {
			content: url(../assets/icon-android.svg);
		}
	}
}

// footer
.footer {
	padding-inline: 1.5rem;
	padding-block: 4rem;

	&__body {
		margin-top: 2rem;
		line-height: $lh-12;
		span {
			font-weight: $fw-bold;
		}
	}

	.socials {
		margin-top: 4rem;
		display: flex;
		gap: 1.2rem;
		align-items: center;

		a {
			transition: filter 0.2s ease-in-out;

			&:hover {
				filter: invert(50%) sepia(92%) saturate(498%) hue-rotate(322deg)
					brightness(101%) contrast(96%);
			}
		}
	}
}
